.blzDetails {
  color: var(--blz-text);
  background-color: var(--blz-bg-light);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.blzDetails summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.blzDetails[open] summary {
  margin-bottom: 0.5rem;
}

.blzDetails summary h1 {
  margin-bottom: 0;
}

/* triangle marker */
.blzDetails summary::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--blz-text);
  transform: rotate(90deg);
  margin-right: 0.6rem;
  margin-bottom: 0.1rem;
  transition: transform 0.3s ease;
}

.blzDetails[open] summary::before {
  transform: rotate(180deg);
}
