:root {
  /* colors */
  --blz-bg: #1d1f2b;
  --blz-bg-light: #2e3046;
  --blz-bg-extra-light: #474963;
  --blz-text: #edf2f4;
  --blz-text-secondary: #cdd4df;
  --blz-primary: #2f83e2;
  --blz-accent: #589dd6;

  --blz-success: #28a745;
  --blz-error: #dc3545;
  --blz-warning: #ffc107;

  --blz-selection: #e22f9d;

  /* fonts */
  --blz-mono: "Courier New", Courier, monospace;
  --blz-sans: Arial, Helvetica, sans-serif;
}

.blzElement {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blzElement::selection,
.blzElement *::selection {
  background-color: var(--blz-selection);
}

.blzElement::-webkit-scrollbar,
.blzElement *::-webkit-scrollbar {
  background-color: var(--blz-bg-light);
  width: 0.65rem;
}

.blzElement::-webkit-scrollbar-thumb,
.blzElement *::-webkit-scrollbar-thumb {
  background-color: var(--blz-bg-extra-light);
  border-radius: 0.6rem;
}
